@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    box-sizing: border-box ;
}

body {
    font-size: 16px;
    line-height: 1.5;
    height: 100%;
    font-family: 'Oswald', sans-serif;
}

header,
main,
footer {
    max-width: 760px;
    margin: 0 auto;
}

header {
    background-color: #cd6155;
    padding: 1.5rem;
    margin-top: 10px;
}

header img {
    width: 200px;
    height: auto;
}

h1 {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

h2 {
    font-size: 1rem;;
    text-decoration: underline;
    font-family: 'Oswald', sans-serif;
}


footer {
    background-color: #cd6155;
    color: white;
    font-size: 14pt;
    padding: 1.5rem;
}

section p {
    margin-bottom: 7px;
}

span {
    align-items: center;
}