@media only screen and (min-width: 32.5rem) {
    nav a {
        display: block;
        padding: 0.75rem;
    }

    nav a:hover {
        background-color: #FFB703;
    }

    .preston-main {
        max-width: 960px;
        margin: 0 auto;
    }

    .heading_preston {
        font-size: 1.5em;
    }

    /* Summary */
    .preston-cont {
        position: relative;
    }

    .summary {
        padding: 1rem;
        border-radius: 5px;

        display: grid;
        grid-template-columns: 1fr 1fr;

        position: absolute;
        top: 440px;
        left: 20%;
    }

    footer {
        font-size: 1.2em;
    }

}