@media only screen and (min-width: 32.5rem) {

    nav a:hover {
        color: #FFB703;
    }

    .preston-main {
        max-width: 960px;
        margin: 0 auto;
    }

    .heading_preston {
        font-size: 1.5em;
    }

    footer {
        font-size: 1.2em;
    }

    .contenbox {
        font-size: 1.2em;
    }
}