@media only screen and (min-width: 32.5rem) {

    nav a:hover {
        color: #FFB703;
    }

    .preston-main {
        max-width: 960px;
        margin: 0 auto;
    }

    .heading_preston {
        font-size: 1.5em;
    }

    /* Summary */
    .preston-cont {
        position: relative;
    }

    .summary {
        padding: 1rem;
        border-radius: 5px;

        display: grid;
        grid-template-columns: 1fr 1fr;

        position: absolute;
        top: 440px;
        left: 20%;
    }

    /* 5 Day Forecast */

    .flex {
        display: flex;
        /* flex-direction: row; */
        /* let us combine row and wrap with flow */
        flex-flow: row wrap;
    }

    .flex-col {
        flex: 1 1 auto;
        background-color: #bed;
    }

    .flex-col {
        border-bottom: 1px solid #333;
        border-left: 1px solid #333;
        text-align: center;
    }

    .flex-col:hover,
    td:hover {
        opacity: 0.75;
        background-color: black;
        color: white;
    }

    .flex,
    .column,
    .grid {
        border-right: 1px solid #333;
    }

    .col-head {
        display: block;
        padding: 5px;
        border-bottom: 1px solid #333;
        text-align: center;
    }

    .forecast {
        display: contents;
    }

    .forecast img {
        padding: 1.25rem;
    }

    .data {
        display: block;
        padding: 0 5px 5px;
        font-size: 0.8rem;
        text-align: center;
    }

    /* Contact */

    .contact {
        display: flex;
    }

    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 2px;
        background-color: #8ECAE6;
        margin-top: 15px;
        width: 960px;
        margin: 0 auto;
        border: solid;

    }

    .preston_map img {
        width: 100%;
        border-radius: 5px;
    }

    .contact_info {
        grid-column: 3/5;
        padding: 100px;
        margin: 2px;
        text-align: center;

    }

    .preston_map {
        grid-column: 1/3;
        grid-row: 1;
        padding: 10px;
        margin: 2px;
        max-width: 100%;
    }

    footer {
        font-size: 1.2em;
    }

}