:root {
  --primary-color: #003049;
  --secundary-color: #D62828;
  --third-color: #F77F00;
  --fourth-color: #FCBF49;
  --white: white;
  --black: black;
  --primary-text: 'Quicksand', sans-serif;
  --footer-text: 'Quicksand', sans-serif;
  --h1: 'Quicksand', sans-serif;
  --h2: 'Quicksand', sans-serif;
  --h2: 'Quicksand', sans-serif;
  --p: 'PT Sans', sans-serif;
}

h2 {
  text-align: center;
  font-family: var(--primary-text);
}

/* Header */
header {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-text);
}

.heading_home {
  color: var(--white);
  font-family: var(--primary-text);
}

.motto {
  font-size: 18px;
}

.logo img {
  width: 300px;
}

/* Navegation */
nav {
  text-align: center;
  padding: 1em;
  background-color: var(--fourth-color);
  padding: 0;
  margin-bottom: 30px;
}

nav a {
  color: var(--black);
  text-decoration: none;
  font-family: var(--p);
}

nav button {
  margin: .2rem 2%;
  background-color: transparent;
  border: none;
  color: var(--white);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul.main_menu {
  display: none;
}

.navigation .active a {
  background-color: var(--third-color);
  color: var(--black);
}

.navigation .active a:hover {
  background-color: var(--third-color);
  color: var(--white);
}

/*--- HOME ---*/
* {
  box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: var(--white);
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: var(--p);
}

/* Number text (1/3 etc) */
.numbertext {
  color: var(--white);
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  font-family: var(--p);
  font-weight: bold;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* Goal */
.porpouse p {
  font-family: var(--p);
}

/* Weather */
.weather-container-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  justify-items: center;
}

.col-head {
  background-color: var(--fourth-color);
  color: var(--black);
  display: block;
  padding: 0.75rem;
  text-align: center;
}

.weather-info {
  background-color: var(--secundary-color);
  padding: 1rem;
}

.flex-col {
  border: 2px solid var(--white);
  color: var(--white);
  flex: 1 1 auto;
}

.weather-grid div {
  background-color: var(--fourth-color);
  padding: 0.5rem;
}

.weather-grid {
  display: grid;
  gap: 1rem;
  text-align: center;
  box-shadow: 0 2.5px 10px 2.5px #00000066;
  background: var(--fourth-color);
  width: 200px;
  font-family: var(--h2);
}

.weather-condition {
  background-color: var(--fourth-color);
  color: var(--black);
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  box-shadow: 0 2.5px 10px 2.5px #00000066;
  font-family: var(--primary-text);
}

.weather-alert {
  background-color: var(--fourth-color);
  box-shadow: 0 2.5px 10px 2.5px #00000066;
}

.weather-alert p {
  padding: 1rem;
  font-family: var(--p);
}

.weather-alert h2 {
  margin-top: 5px;
}
/*Ad*/
.advertisement {
  text-align: center;
  margin-top: 25px;
}

.col-ad {
  background-color: var(--fourth-color);
}

.advertisement section img {
  width: 100%;
}

.advertisement-info {
  border: 1px solid black;
  margin-bottom: 1rem;
}


/* Contact */
.contact {
  display: flex;
  flex-direction: column;
}

.contact_info {
  padding: 5%;
  text-align: center;
}

.map1 {
  border-radius: 1rem;
}

/* Join */
.image-join {
  display: flex;
  align-items: center;
  box-shadow: 0 2.5px 10px 2.5px #00000066;
  margin-top: 50px;
  padding: 5rem;
}

.content-join {
  flex: 0 0 95%;
  color: var(--black);
}

.button {
  color: var(--white);
  text-decoration: none;
  padding: 1rem 3rem;
  display: inline-block;
  text-align: center;
  border: none;
  display: block;
  flex: 0 0 100%;
  background-color: var(--secundary-color);
  font-family: var(--p);
}

/* Events */
.events {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.col-ad {
  background-color: var(--fourth-color);
}

.events section img {
  width: 100%;
}

.event-info {
  border: 1px solid var(--black);
}


/* FOOTER */
footer {
  text-align: center;
  padding: 0.5em;
  font-family: var(--p);
  background-color: var(--primary-color);
  color: var(--white);
}
/*--CITY PAGE--*/
article {
  background-color: #DDF4F8;
  padding: 1rem 1.5rem;
  margin-top: 2rem;
  font-family: var(--p);
  font-size: 17px;
  line-height: 25px;
  margin-bottom: 32px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

article img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.tuxtla-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-bottom: 50px;
  justify-content: center;
}

.tuxtla-grid div {
  box-shadow: 0 2.5px 10px 2.5px #00000066;
  padding: 1rem;
  max-width: 100%;
  text-align: center;
  border-radius: 1rem;
}

.tuxtla-grid img {
  height: 368px;
  width: 368px;
}


/*--JOIN PAGE--*/
.level {
  background-color: var(--fourth-color);
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-family: var(--h1);
}

.membership-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
}

.membership-grid h3 {
  font-family: var(--h1)
}

.membership-grid ul {
  list-style: none;
}

.membership-grid ul li {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  text-align: left;
}

.membership-grid ul li::before {
  color: var(--secundary-color);
  content: "\2022";
  display: inline-block;
  font-weight: bold;
  margin-left: -1rem;
  width: 1rem;
}

.join {
  max-width: 960px;
  margin: 0 auto;
}

select {
  color: black;
}

form legend {
  padding: 0.2rem;
  font-size: 1.2rem;
  font-family: 'PT Sans', sans-serif;
  color: black;
}

form fieldset {
  margin-top: 2rem;
  border-radius: 1rem;
  border: none;
  padding: 1rem;
  box-shadow: 0 2.5px 10px 2.5px #00000066;
  font-family: 'PT Sans', sans-serif;
}

.box,
fieldset div {
  display: block;
  margin-top: 1.5rem;
}

.box input,
textarea,
select {
  display: block;
  border: 1px solid var(--black);
  border-radius: 0.3rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

legend {
  font-weight: bolder;
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 0.3rem;
  box-shadow: 0 2.5px 10px 2.5px #00000066;
}

.danger-level {
  margin-bottom: 15px;
}

* #button {
  text-align: center;
}

#button input {
  background-color: var(--fourth-color);
  border-radius: 20px;
  color: var(--black);
  font-weight: bold;
  padding: 10px 30px;
  margin: 1.5rem 0 1.5rem 0;
  font-family: var(--h1);
}

#submit:hover {
  cursor: pointer;
}

textarea {
  margin-top: 0.25rem;
  width: 100%;
  border-radius: 20px;
}

.thanks-message {
  align-self: center;
  border: 1px solid var(--black);
  border-radius: 0.3rem;
  padding: 50px;
}

/*--DIRECTORY PAGE--*/
.directory-main{
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 50px;
}

a {
  color: var(--black);
  text-decoration: none;
  font-family: var(--h1);
}
.grid-layout {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
}

.grid-button, .list-button {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.list-layout .organization-div {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
}

.list-layout, .list-layout .business-div {
  padding: 0;
}

.list-layout .organization-div:nth-child(even) {
  background-color: var(--white);
}

.list-layout h3, .list-layout p, .list-layout img {
  margin: 0;
  padding: 0.5rem;
}

.organization-div {
  background-color: var(--fourth-color);
  margin: 0;
  padding: 1rem;
}

.organization-div p {
  font-family: var(--p);
}

/*--CONTACT US PAGE--*/

.contact-us {
  max-width: 960px;
  margin: 0 auto;
}

.personal-info-contact {
  margin-bottom: 50px;
}

.directors-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-bottom: 50px;
}

.directors-grid div {
  box-shadow: 0 2.5px 10px 2.5px #00000066;
  padding: 1rem;
  max-width: 100%;
  text-align: center;
  border-radius: 1rem;
}

.director-name {
  font-weight: bold;
  font-size: 27px;
  font-family: var(--p);
}

.director-title {
  font-size: 1.3rem;
  font-family: var(--primary-text);
  font-weight: 300;
}