.logo img {
    max-width: 100%;
    height: auto;
}


h1,
h2 {
    font-family: 'Oswald', sans-serif;
}

header {
    background-color: #8ECAE6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}

nav {
    text-align: center;
    padding: 1em;
    background-color: #023047;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul.main_menu {
    display: none;
}

.navigation .active a {
    background-color: #FFB703;
    color: black;
}

.navigation .active a:hover {
    background-color: #FFB703;
    color: white;
}

main {
    margin-bottom: 2rem;
    text-align: center;
}

.form-grid {
    display: grid;
    grid-gap: 0.75rem;
    background-color: #8ECAE6;
    box-shadow: 0 2.5px 10px 2.5px #00000066;
    color: black;
    font-family: "Oswald", sans-serif;
    padding: 1rem;
    text-align: left;
    border-radius: 20px;
}


.user-info {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
}

input,
select {
    border: none;
    color: #969590;
    outline: none;
    padding: 0.5rem;
    border-radius: 0.3rem;
}

select {
    color: black;
}

#button {
    text-align: center;
}

#button input {
    background-color: #ffa700;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    padding: 10px 30px;
}

::placeholder {
    opacity: 80%;
}

fieldset {
    border: none;
    margin: 0.5rem 0;
}

textarea {
    margin-top: 0.25rem;
    width: 100%;
    border-radius: 20px;
}

#storm-severity {
    border: none;
    display: block;
}

.form-grid h3 {
    text-align: left;
}

.block-2{
    display: grid;
    gap: 20px;
}

footer {
    text-align: center;
    padding: 0.5em;
    font-family: 'PT Sans', sans-serif;
    background-color: #023047;
    color: white;
}